@model DogViewModel

<form class="col-lg-3" asp-controller="First" asp-action="CreateDog" method="post">
    <div class="form-group">
        <label for="name">New name</label>
        <input asp-for=Name type ="text" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="age">New age</label>
        <input asp-for=Age type="number" class="form-control" id="age">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>